// Colors

$white : #fff;
$black : #000;
$heading-color : #E98421;
$btnbg-color : #09335B;
$card-box-color : #A62321;
$btn-txt-color : #A62321;
$card-title-color: #09335B;
$card-count-color: #A62321;
$border-color:#707070;
$active-color :#E2F1FD;



// Font Face
$opensans-bold : OpenSans-Bold;
$opensans-semibold : OpenSans-SemiBold;
$opensans-med : OpenSans-Medium;
$opensans-light : OpenSans-Light;
$opensans-reg : OpenSans-Regular;
$opensans-Extrabold :OpenSans-ExtraBold;